{{> head }}

{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Arquitectura | Casa</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ex rem recusandae ipsam voluptatem iure explicabo
      aliquid nesciunt, ea, tenetur, a animi laborum. Distinctio, blanditiis. Nemo iure necessitatibus autem libero?</p>
  </div>
  <div class="col-4">
    <img src="assets/img/casa.jpg" class="img-thumbnail" alt="casa">
  </div>
</div>

{{> footer }}